{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>List Movies</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Year</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for movie_obj in movies %}
                    <tr>
                        <td>{{ movie_obj.title | upper }}</td>
                        <td>
                            <p><strong>Summary:</strong> {{ movie_obj.description | default:"No data available" }}</p>
                            {% if movie_obj.poster %}
                                <img src="{{ movie_obj.poster.url }}" width="600" height="300" alt="{{ movie_obj.title }}">
                            {% endif %}
                        </td>
                        <td><strong>Year:</strong> {{ movie_obj.year }}</td>
                        <td>
                            <a href="{% url 'edit' movie_obj.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'delete' movie_obj.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}



